.ReferralCard {
  min-height: 250px;
  width: 75%;
  margin: auto;
}

.Message {
  position: relative;
  margin: 10px;
  font-size: 18px;

}

.Message::before {  
  content: '“';
  position: absolute;
  left: -40px;
  top: -47px;
  font-size: 100px;
}

.Referrer {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}

.Relationship {
  text-align: center;
  font-style: italic;
  font-weight: 200;
}