.Contact {
  font-size: 30px;
}

.ContactMap {
  display: flex;
  justify-content: space-between;
  max-width: 450px;

  margin: auto;
}

.ContactLink {
  text-decoration: none;
  color: inherit;
  margin: 10px;
}

.ContactLink:hover {
  opacity: 0.7;
}
