.ReferralSection {
  padding: 80px 0;
  background-color: bisque;
}

.ReferralSection::before {
  content: "💬 Recommendations";
  display: block;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.ReferralDots {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  cursor: pointer;
}