.Experience {
  box-shadow: 1px 1px 1px #333;
  text-align: center;
  padding: 50px 0;
}

.Experience::before {
  content: "Work 👨🏻‍💻";
  font-size: 30px;
  padding: 20px;
}

.ExperienceWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.ExperienceSeeMore {
  padding: 0 20px;
}
