.Recommendations {
  padding: 80px 0;
  background-color: bisque;
}

.Recommendations::before {
  content: "💬 Recommendations";
  display: block;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.ReferralDots {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  cursor: pointer;
}

.ReferralDot {
  margin: 0 10px 0 0;
  font-size: 20px;
}

.DotHover:hover {
  transform: scale(-1, 1);
}